﻿.jscarousal
{
	width: 100%;
	height: 100px;
	background-color:none;
	margin: 0;
	padding: 0;
	position: relative; /*overflow: hidden;*/
}
.jscarousal .jscarousal-left, .jscarousal .jscarousal-right
{
	float: left;
	width: 50px;
	height: 98px;
	background-color: none;
	color: White;
	position: relative;
	top: 12px;
	cursor: pointer;
	margin-left:1%;
}
.jscarousal .jscarousal-left
{
	background-image: url(left_arrow.png);
	background-repeat: no-repeat;
	background-position: left;
}
.jscarousal .jscarousal-right
{
	background-image: url(right_arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	
}
.jscarousal-contents
{
	width: 90%;
	height: 150px;
	float: left;
	position: relative;
	overflow: hidden;
}
.jscarousal-contents > div
{
	position: absolute;
	width: 100%;
	height: 160px;
	margin-left:5px;
}
.jscarousal-contents > div > div
{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.jscarousal-contents img
{
	width: 155px;
	height: 120px;
	border: solid 1px #7A7677;
}
.hidden
{
	display: none;
}
.visible
{
	display: block;
}
.thumbnail-active
{
	filter: alpha(opacity=100);
	opacity: 1.0;
	cursor: pointer;
}
.thumbnail-inactive
{
	filter: alpha(opacity=100);
	opacity: .6;
	cursor: pointer;
}
.thumbnail-text
{
	color: #FFF;
	font-weight: bold;
	text-align: left;
	display: block;
	padding: 5px;
	position:absolute;
	top:50%;
	width:147px;
	background:#339933;
	opacity:.8;
}
