/* Demo styles for Hub and other metro pages
-------------------------------------------------- */


/* Body and structure
-------------------------------------------------- */
html{
    height:100%;
    overflow-y:hidden; /* Respect browser height */
    overflow-x:hidden;
}
body{
    width:100%;
    height:100%;
}
html,
body {
    position: relative;
    background: transparent url(../img/bkg-4.png) repeat 0 0;
    /*background: transparent url(../img/bkg-parallax-1.jpg) repeat 0 0;*/
    /*background-color: #f2f0e4;*/
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    color: #339933; /*#847d6b;*/
}


#wrap {
    position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */

    /* Win8 animation */
    width:100%;
    perspective:3300px;
    position:relative;
    overflow:hidden;
}


.panorama-parallax {
    -webkit-transition: background-position 0.4s;
    -moz-transition: background-position 0.4s;
    -o-transition: background-position 0.4s;
    transition: background-position 0.4s;
}



/* custom styles */
.horiz_ul {
    overflow-x:scroll;
    width:100%;
    overflow-y: hidden;  
    
}
.horiz_ul  ul {
    width: 300%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.horiz_ul li {
    float: left;
}

.horiz_ul li h3 {
    text-align: center;
}

.highlight{
    background-color:red;
}
::-webkit-scrollbar{
    width:10px;
    background-color:#FFF;
    border-radius:10px;
} 
::-webkit-scrollbar-thumb{
    background-color:#339933;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#339933;
    border:2px solid #FFF;
}
::-webkit-scrollbar-thumb:active{
    background-color:#339933;
    border:2px solid #FFF;
} 
::-webkit-scrollbar-track{
    border:1px white solid;
    border-radius:10px;
    -webkit-box-shadow:0 0 6px white inset;
} 

.nav_buttons ul li a{

    background: #339933;
    color:#FFF;

}
.nav_buttons ul li a:hover {
    color:#339933;
}
.header ul li a:active {
    background-color:#e14d43;
    font-size: 20px;
}
.team_members_list_box {
    float:right;
    border: #339933 dotted;
    width:20%;
    height:250px;
    margin-right:10px;
}
.team_members_list_box h3 {
    border-bottom: #339933 dotted;
    font-size:17px;
    padding:5px;
    margin: 10px;
    margin-top:0px;
}

.cbp-qtrotator blockquote{
    padding:0;
    background:none;
    font-size:10px;
    border-left:none;
}

.cbp-qtrotator blockquote p{
    font-size:15px;
    padding-left:10px;
}
.coestart {
    background:#339933;
    border:solid #339933;
}
.coestart:hover {
    border:solid #339933;
    background:none;
    color:#339933
}
.custom_footer{
    position:fixed;
    right: -78%;
    bottom:5%;
    width:100%;
}
.footer_links  {
    text-align:right;
    width:270px;
}

.footer_links a {
    text-decoration: none;
}
a:hover .win-commandring,
button:hover .win-commandring{
    background: #339933; 
    color:#FFF;
    border:solid #339933;
    border-width: 1px;

}
.win-command .icon-user:hover{
    color:#FFF;
}
.login_button {
    background: none;
    border:solid #339933;
    color:#339933;

}
.login_button:hover {
    background: #339933;
    border:solid #339933;
    color:white;
}
.login_close{

    padding: 4px 0px;
}
button[type=submit]{

    border:solid #339933;  
    background:none;
    color:#339933;
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
}
button[type=submit]:hover {
    background:#339933;
    color:#FFF;
    border:solid #339933;    
}

.metro .tile:hover {
    outline: 3px #7CBE35 solid;
}

.win-commandicon {
    color: #339933;
}
.win-commandicon:hover {
    color: #FFF;
}

.win-commandring, a:active .win-commandring, .win-commandring, button:active .win-commandring {
    border-color: #339933;
}

#panorama-scroll-prev,
#panorama-scroll-next {
    border-color: #339933;
    color: #339933;
}
.dropdown a
{
    color:#339933;
}
.dropdown a :hover
{
    color:#008641;
}
.dropdown-menu    {
    width:auto;
}

.dropdown-menu   li  a {
    text-align:left;
    font-size:15px;
}

#nav-bar {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 54px;
    width: 100%;
}

#metro-container {
    margin-top: 94px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}




.accent-color, header h1, header h2, table th {
    color: #339933;;
}

/*header h1 {*/
/*font-size: 50px;*/
/*font-weight: 300;*/
/*line-height: 54px;*/
/*color: #444;*/
/*}*/
/*header h1 small {font-weight: 300;}*/


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */



body > .navbar {
    font-size: 13px;
}

#header-nav {
    position: relative;
}
#header-nav .nav.nav-links {
    *zoom: 1;
}
#header-nav .nav.nav-links:before,
#header-nav .nav.nav-links:after {
    display: table;
    content: "";
    line-height: 0;
}
#header-nav .nav.nav-links:after {
    clear: both;
}

#header-nav .nav.nav-links {
    margin-bottom: 10px;
}
#header-nav .nav.nav-links > li {
    float: left;
}
#header-nav .nav.nav-links a {
    margin: 0 30px 0 0;
    font-weight: 300;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    line-height: 34px;
    color: #847d6b;
}
#header-nav .nav.nav-links a:hover {
    color: #595753;
    background-color: transparent;
}
#header-nav .nav.nav-links li.active a {
    color: #595753;
    background-color: transparent;
}








/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
    padding-top: 30px;
}
section > .page-header,
section > .lead {
    color: #5a5a5a;
}
section > ul li {
    margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
    margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}



/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    /*text-align: center;*/
    /*text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);*/
    background: #287EB7;
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
    /*color: #fff;*/
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.jumbotron a.link {
    color: #4F1ACB;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

/* Download button
.masthead .btn {
   padding: 19px 24px;
   font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
   font-size: 24px;
   line-height: 28px;;
   font-weight: 400;
   color: #fff;
   border: 0;
   -webkit-transition: none;
   -moz-transition: none;
   transition: none;
}
   .masthead .btn [class^="icon-"] {
      font-size: 24px;
      line-height: 24px;
   }

.masthead .btn:hover {
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
   box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
   -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
   -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
   box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
*/

/* Pattern overlay
------------------------- */
.jumbotron .container {
    position: relative;
    z-index: 2;
}


/* Masthead (docs home)
------------------------- */
.masthead {
    padding: 0;
    margin-bottom: 0;
}
.masthead h1 {
    /*font-size: 120px;*/
    line-height: 1;
    letter-spacing: -2px;
}
.masthead p {
    /*font-size: 40px;*/
    font-weight: 200;
    line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
    margin: 0;
    list-style: none;
}
.masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255,255,255,.25);
}

#hero {
    display: block;
    position: relative;
    margin: 30px 0 0 0;
}
#hero p.lead {
    font-size: 24px;
    font-weight: 300;
}

#hero .btn {
    padding: 19px 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
    border: 0;
}
#hero .btn [class^="icon-"] {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    vertical-align: bottom;
}





#features-container {
    margin-top: 60px;
}


.list-tile {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    color: #FFF;
    display: inline-block;
    min-height: 62px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    vertical-align: top;
}

.list-tile.blue {
    background-color: #2E8BCC;
    border-color: #2E8BCC;
}
.list-tile.green {
    background-color: #339933;
    border-color: #339933;
}

.list-tile h4, .list-tile h5 {
    display: inline;
}
.list-tile h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
.list-tile h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 80px;
}

.list-tile .list-tile-icon {
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    font-weight: 400;
    height: 100%;
    line-height: 62px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
}
/*.list-tile.blue  .list-tile-icon {*/
/*background-color: #2E8BCC;*/
/*}*/
/*.list-tile.green .list-tile-icon {*/
/*background-color: #339933;*/
/*}*/

.list-tile .donate-form {
    margin: 10px auto;
    text-align: center;
}

/* hover */
.list-tile.blue:hover {
    text-decoration: none;
    background-color: #C9E2F3;
    color: #2E8BCC;
}
.list-tile.blue:hover .list-tile-icon { color: #2E8BCC; }

.list-tile.green:hover {
    text-decoration: none;
    background-color: #ABE3AB;
    color: #339933;
}
.list-tile.green:hover .list-tile-icon { color: #339933; }



/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}


/*
Index Donate tile
*/
.metro .tile.wide.donate {
    height: 110px;
    padding: 20px;
    width: 270px;
    cursor: default;
}
.metro .tile.wide.donate .text {
    font-size: 15px;
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-align: left;
}
.metro .tile.wide.donate .text-header3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    max-height: 110px;
    overflow: hidden;
    text-align: left;
}
.metro .tile.wide.donate form {
    margin: 10px auto;
    text-align: center;
}


/* Subhead (other pages)
------------------------- */
.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.subhead h1 {
    font-size: 60px;
}
.subhead p {
    margin-bottom: 20px;
}
.subhead .navbar {
    display: none;
}



/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
    text-align: center;
    color: #5a5a5a;
}
.marketing h1 {
    margin: 60px 0 10px;
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}
.marketing h2 {
    font-weight: 200;
    margin-bottom: 5px;
}
.marketing p {
    font-size: 16px;
    line-height: 1.5;
}
.marketing.metro .tile.wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}
/*.marketing img {*/
/*display: block;*/
/*margin: 0 auto 30px;*/
/*}*/



/* Footer
-------------------------------------------------- */

/*.footer {*/
/*padding: 70px 0;*/
/*margin-top: 70px;*/
/*border-top: 1px solid #e5e5e5;*/
/*background-color: #f5f5f5;*/
/*}*/
/*.footer p {*/
/*margin-bottom: 0;*/
/*color: #777;*/
/*}*/
/*.footer-links {*/
/*margin: 10px 0;*/
/*}*/
/*.footer-links li {*/
/*display: inline;*/
/*padding: 0 2px;*/
/*}*/
/*.footer-links li:first-child {*/
/*padding-left: 0;*/
/*}*/



/* Special grid styles
-------------------------------------------------- */

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="span"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 40px;
    line-height: 40px;
}
.show-grid:hover [class*="span"] {
    background: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
    background-color: #ccc;
}



/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
    height: 300px;
}
.mini-layout {
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 20%;
}
.mini-layout.fluid .mini-layout-body {
    width: 77.5%;
    margin-left: 2.5%;
}



/* Download page
-------------------------------------------------- */

.download .page-header {
    margin-top: 36px;
}
.page-header .toggle-all {
    margin-top: 5px;
}

/* Space out h3s when following a section */
.download h3 {
    margin-bottom: 5px;
}
.download-builder input + h3,
.download-builder .checkbox + h3 {
    margin-top: 9px;
}

/* Fields for variables */
.download-builder input[type=text] {
    margin-bottom: 9px;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    color: #d14;
}
.download-builder input[type=text]:focus {
    background-color: #fff;
}

/* Custom, larger checkbox labels */
.download .checkbox {
    padding: 6px 10px 6px 25px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: #f9f9f9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}
.download .checkbox:hover {
    color: #333;
    background-color: #f5f5f5;
}
.download .checkbox small {
    font-size: 12px;
    color: #777;
}

/* Variables section */
#variables label {
    margin-bottom: 0;
}

/* Giant download button */
.download-btn {
    margin: 36px 0 108px;
}
#download p,
#download h4 {
    max-width: 50%;
    margin: 0 auto;
    color: #999;
    text-align: center;
}
#download h4 {
    margin-bottom: 0;
}
#download p {
    margin-bottom: 18px;
}
.download-btn .btn {
    display: block;
    width: auto;
    padding: 19px 24px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
    margin-top: 5px;
}

/* Example sites showcase */
.example-sites {
    margin-left: 20px;
}
.example-sites img {
    max-width: 100%;
    margin: 0 auto;
}

.scrollspy-example {
    height: 200px;
    overflow: auto;
    position: relative;
}


/* Fake the :focus state to demo it */
.focused {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
    display: block;
    margin-bottom: 9px;
}

/* Icons
------------------------- */
.the-icons {
    margin-left: 0;
    list-style: none;
}
.the-icons li {
    float: left;
    width: 25%;
    line-height: 25px;
}
.the-icons i:hover {
    background-color: rgba(255,0,0,.25);
}

/* Example page
------------------------- */
.bootstrap-examples p {
    font-size: 13px;
    line-height: 18px;
}
.bootstrap-examples .thumbnail {
    margin-bottom: 9px;
    background-color: #fff;
}


/* Toasts
------------------------- */

#alerts-container {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 0;
    z-index: 1100;
}

#alerts-container .toast {
    /* add a shadow */
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}


/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Echo out a label for the example */
.bs-docs-example:after {
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
    margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
    margin-bottom: 5px;
}
.bs-docs-example .pagination {
    margin-top: 0;
}

.bs-docs-example-commands {
    margin-bottom: 5px;
}
.bs-docs-example-commands .win-command{
    display: inline-block;
    vertical-align: top;
}

/* sample customization of win-command */
.bs-docs-example .win-command.orange .win-commandicon,
.bs-docs-example .win-command.orange .win-label {
    color: #F09609;
}
.bs-docs-example .win-command.orange .win-commandring {
    border-color: #F09609;
}
.bs-docs-example .win-command.orange:hover .win-commandring {
    background-color: rgba(240, 150, 9, 0.4);
}


.bs-navbar-top-example,
.bs-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    height: 90px;
    overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-navbar-top-example:after {
    top: auto;
    bottom: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-navbar-bottom-example {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
form.bs-docs-example {
    padding-bottom: 19px;
}

/* Images */
.bs-docs-example-images img {
    margin: 10px;
    display: inline-block;
}

/* Tooltips */
.bs-docs-tooltip-examples {
    text-align: center;
    margin: 0 0 10px;
    list-style: none;
}
.bs-docs-tooltip-examples li {
    display: inline;
    padding: 0 10px;
}

/* Popovers */
.bs-docs-example-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}



/* Responsive docs
-------------------------------------------------- */

/* Utility classes table
------------------------- */
.responsive-utilities th small {
    display: block;
    font-weight: normal;
    color: #999;
}
.responsive-utilities tbody th {
    font-weight: normal;
}
.responsive-utilities td {
    text-align: center;
}
.responsive-utilities td.is-visible {
    color: #468847;
    background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
    margin-top: 5px;
    margin-left: 0;
    list-style: none;
    overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
    position: relative;
    float: left;
    width: 25%;
    height: 43px;
    font-size: 14px;
    font-weight: bold;
    line-height: 43px;
    color: #999;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.responsive-utilities-test li + li {
    margin-left: 10px;
}
.responsive-utilities-test span {
    position: absolute;
    top:    -1px;
    left:   -1px;
    right:  -1px;
    bottom: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.responsive-utilities-test span {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}



/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);*/
    /*-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);*/
    /*box-shadow: 0 1px 4px rgba(0,0,0,.065);*/
}

.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 0;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}



/* Icons demo page
-------------------------------------------------- */
#icomoon-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#icomoon-container section,
#icomoon-container header,
#icomoon-container footer {
    display: block;
    padding: 0;
}

#icomoon-container .glyph {
    float: left;
    text-align: center;
    background: #F4F4F4;
    padding: .75em;
    margin: .75em 1.5em .75em 0;
    width: 7em;
}
#icomoon-container .glyph input {
    width: 100%;
    text-align: center;
    font-family: consolas, monospace;
}
#icomoon-container .glyph input,
#icomoon-container .mtm {
    margin-top: .75em;
    border: 0;
    padding: 0 10px;
}

.fs1 {
    font-size: 2em;
}
#icomoon-container header {
}
#icomoon-container header h1 {
}
#icomoon-container .clearfix:before,
#icomoon-container .clearfix:after { content: ""; display: table; }
#icomoon-container .clearfix:after { clear: both; }
#icomoon-container footer {
    margin-top: 2em;
    padding: .5em 0;
    box-shadow: 0 -2px #eee;
}
#icomoon-container .box1 {
    display: inline-block;
    width: 11em;
    padding: .25em .5em;
    background-color: #fff;
    margin: .5em 1em .5em 0;
    font-size: 16px;
    text-align: center;
}
#icomoon-container .box1 span {
    display: block;
    font-size: 32px;
    margin-bottom: 8px;
}

/*
ListView demo
*/
.mediumListIconTextItem.selected .mediumListIconTextItem-Image[class^="icon-"],
.mediumListIconTextItem.selected .mediumListIconTextItem-Image[class*=" icon-"] {
    color: #FFF;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .bs-docs-container {
        max-width: 970px;
    }
    .bs-docs-sidenav {
        width: 258px;
    }
    .bs-docs-sidenav > li > a {
        width: 230px \9; /* Override the previous IE8-9 hack */
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Inline-block quick links for more spacing */
    .quick-links li {
        display: inline-block;
        margin: 5px;
    }

    /* When affixed, space properly */
    .bs-docs-sidenav {
        top: 0;
        margin-top: 30px;
        margin-right: 0;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        margin-top: -20px; /* Offset bottom margin on .navbar */
    }
    /* Adjust sidenav width */
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 20px;
    }
    .bs-docs-sidenav.affix {
        top: 0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding: 40px 20px;
        margin-top:   -20px; /* Offset bottom margin on .navbar */
        margin-right: -20px;
        margin-left:  -20px;
    }
    .masthead h1 {
        font-size: 90px;
    }
    .masthead p,
    .masthead .btn {
        font-size: 24px;
    }
    .marketing .span4 {
        margin-bottom: 40px;
    }
    .bs-docs-social {
        margin: 0 -20px;
    }

    /* Space out the show-grid examples */
    .show-grid [class*="span"] {
        margin-bottom: 5px;
    }

    /* Sidenav */
    .bs-docs-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .bs-docs-sidenav.affix {
        position: static;
        width: auto;
        top: 0;
    }

    /* Unfloat the back to top link in footer */
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    /* Downsize the jumbotrons */
    .jumbotron h1 {
        font-size: 45px;
    }
    .jumbotron p,
    .jumbotron .btn {
        font-size: 18px;
    }
    .jumbotron .btn {
        display: block;
        margin: 0 auto;
    }

    /* center align subhead text like the masthead */
    .subhead h1,
    .subhead p {
        text-align: center;
    }

    /* Marketing on home */
    .marketing h1 {
        font-size: 30px;
    }
    .marketing-byline {
        font-size: 18px;
    }

    /* center example sites */
    .example-sites {
        margin-left: 0;
    }
    .example-sites > li {
        float: none;
        display: block;
        max-width: 280px;
        margin: 0 auto 18px;
        text-align: center;
    }
    .example-sites .thumbnail > img {
        max-width: 270px;
    }

    #hero-image {
        margin: 0;
    }

    /* Do our best to make tables work in narrow viewports */
    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }

    /* Modal example */
    .modal-example .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* Unfloat the back to top in footer to prevent odd text wrapping */
    .footer .pull-right {
        float: none;
    }
}



/* PERFECT SCROLLBAR */
/*.ps-container .ps-scrollbar-x {*/
/*position: absolute; *//* please don't change 'position' */
/*bottom: 3px; *//* there must be 'bottom' for ps-scrollbar-x */
/*height: 17px;*/
/*background-color: #CDCDCD;*/
/*opacity: 0;*/
/*filter: alpha(opacity = 0);*/
/*-webkit-transition: opacity .2s linear;*/
/*-moz-transition: opacity .2s linear;*/
/*transition: opacity .2s linear;*/
/*}*/

/*.ps-container .ps-scrollbar-x:before {*/
/*content: "\e127";*/
/*font-family: 'IcoMoon';*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*font-size: 17px;*/
/*line-height: 17px;*/
/*background-color: #f1f1f1;*/
/*color: #606060;*/
/*}*/
/*.ps-container .ps-scrollbar-x:after {*/
/*content: "\e12a";*/
/*font-family: 'IcoMoon';*/
/*position: absolute;*/
/*right: 0;*/
/*top: 0;*/
/*font-size: 17px;*/
/*line-height: 17px;*/
/*background-color: #f1f1f1;*/
/*color: #606060;*/
/*}*/

/*.ps-container:hover .ps-scrollbar-x {*/
/*opacity: 0.6;*/
/*filter: alpha(opacity = 60);*/
/*}*/

/*.ps-container .ps-scrollbar-x:hover {*/
/*opacity: 0.9;*/
/*filter: alpha(opacity = 90);*/
/*cursor:default;*/
/*}*/

/*.ps-container .ps-scrollbar-x.in-scrolling {*/
/*opacity: 0.9;*/
/*filter: alpha(opacity = 90);*/
/*}*/

/*.ps-container .ps-scrollbar-y {*/
/*position: absolute; *//* please don't change 'position' */
/*right: 3px; *//* there must be 'right' for ps-scrollbar-y */
/*width: 17px;*/
/*background-color: #aaa;*/
/*opacity: 0;*/
/*filter: alpha(opacity = 0);*/
/*-webkit-transition: opacity.2s linear;*/
/*-moz-transition: opacity .2s linear;*/
/*transition: opacity .2s linear;*/
/*}*/

/*.ps-container:hover .ps-scrollbar-y {*/
/*opacity: 0.6;*/
/*filter: alpha(opacity = 60);*/
/*}*/

/*.ps-container .ps-scrollbar-y:hover {*/
/*opacity: 0.9;*/
/*filter: alpha(opacity = 90);*/
/*cursor: default;*/
/*}*/

/*.ps-container .ps-scrollbar-y.in-scrolling {*/
/*opacity: 0.9;*/
/*filter: alpha(opacity = 90);*/
/*}*/



/* Win8 animation
-------------------------------------------------- */
.metro .tile {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fadeOutback {
    -webkit-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    -moz-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    -ms-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    -o-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
    animation: fadeOutBack 0.3s ease-out 1 normal forwards;
}

.fadeInForward-1,.fadeInForward-2,.fadeInForward-3 {
    /*remember:  in the second animation u have to set the final values reached by the first one*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-transform: translateZ(-5em) scale(0.75);
    -moz-transform: translateZ(-5em) scale(0.75);
    -o-transform: translateZ(-5em) scale(0.75);
    -ms-transform: translateZ(-5em) scale(0.75);
    transform: translateZ(-5em) scale(0.75);
}

.fadeInForward-2 {
    -webkit-animation-delay: .55s;
    -moz-animation-delay: .55s;
    -ms-animation-delay: .55s;
    -o-animation-delay: .55s;
    animation-delay: .55s;
}

.fadeInForward-3 {
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -ms-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-delay: .7s;
}
.team_members_list_box .active{
    font-weight: 1000;    
    background-color: #FFFF00
}
@keyframes "fadeOutBack" {
    0% {
        -webkit-transform: translateX(-2em) scale(1);
        -moz-transform: translateX(-2em) scale(1);
        -o-transform: translateX(-2em) scale(1);
        -ms-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -moz-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    95% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        -moz-transform: translateZ(-5em) scale(0.6);
        -o-transform: translateZ(-5em) scale(0.6);
        -ms-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(-5em) scale(0);
        -moz-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

@-moz-keyframes fadeOutBack {
    0% {
        -moz-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        -moz-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    95% {
        -moz-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

@-webkit-keyframes "fadeOutBack" {
    0% {
        -webkit-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    95% {
        -webkit-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

@-ms-keyframes "fadeOutBack" {
    0% {
        -ms-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        -ms-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    95% {
        -ms-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -ms-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

@-o-keyframes "fadeOutBack" {
    0% {
        -o-transform: translateX(-2em) scale(1);
        transform: translateX(-2em) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }
    70% {
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    95% {
        -o-transform: translateZ(-5em) scale(0.6);
        transform: translateZ(-5em) scale(0.6);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }

}

@keyframes "fadeInForward" {
    0% {
        -webkit-transform: translateZ(-5em) scale(0);
        -moz-transform: translateZ(-5em) scale(0);
        -o-transform: translateZ(-5em) scale(0);
        -ms-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) scale(1);
        -moz-transform: translateZ(0) scale(1);
        -o-transform: translateZ(0) scale(1);
        -ms-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

}

@-moz-keyframes fadeInForward {
    0% {
        -moz-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }

}

@-webkit-keyframes "fadeInForward" {
    0% {
        -webkit-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }

}

@-ms-keyframes "fadeInForward" {
    0% {
        -ms-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -ms-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

}

@-o-keyframes "fadeInForward" {
    0% {
        -o-transform: translateZ(-5em) scale(0);
        transform: translateZ(-5em) scale(0);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        -o-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        filter: alpha(opacity=100);
        opacity: 1;
    }

}
