
            #results {
                height:500px !important;
                overflow-y:scroll;
                overflow-x:hidden;
            }
            .search_result_box {
                float:left;
                margin:10px;
                width:150px;
                height:150px;
                background: #FFF;
                position: relative;
                padding: 8px;
            }    
            .search_result_box  h4{
                color:#000;
                margin-top:30px;
                padding:5px;
            }
            .search_result_box span .title {
                width:140px;
            }
            .search_result_box  .title{
                color:#339933;
                font-size:14px;
                overflow: hidden;
                
            }
            .search_result_box  .user_name 
            {
                color:#000;
                word-wrap: break-word;
            }
            .search_result_box .icon-user-5 {
                color:#339933;
                position: absolute;
                bottom: 5px;
                right:5px;
                font-size: 25px;
            }
             .search_result_box .icon-code-2 {
                color:#339933;
                position: absolute;
                bottom: 5px;
                right:5px;
                font-size: 25px;
            }
            .search_result_box  .icon-search{
                color:#339933;
                font-size:60px;
                padding:30px;
            }
            .search_result_box  h2 {
                color:#000;
                margin-top:10px;
                font-size:20px
            }
#search{
	
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 2%;
	width: 96%;
}

#search-overlay{
	background: black;
	background: rgba(0,0,0,0.85);
	color: white;
	display: none;
	font-size: 24px;
	height: 100%;
	padding: 20px;
	position: fixed;
	width: 100%;
	z-index:1063;
}

#display-search{
	background: none;
	border: none;
	color: white;
	font-size: 20px;
	margin: 25px 0 0 0;
	width: 90%;
}

#hidden-search{
	left: -10000px;
	position: absolute;
}

#results{
	display: none;
	width: 300px;
}
#results li a {
color:#FFF;
text-decoration:none;
}
#results li a:hover {
color:#339933;
text-decoration:none;
}

#artists{
	font-size: 18px;
	line-height: 125%;
	padding: 0 0 0 10px;
}

h2.artists{
	margin: 30px 0 20px 0;
}

h2{
	margin: 0 0 20px 0;
}

#close{
	cursor: pointer;
	position: fixed;
	right: 20px;
	top: 20px;
}

.try{
	margin: 20px 0 0 60px;
}



.search_link {
    text-decoration: none;
    color:black;
}

.search_link:hover {
    text-decoration: none;
}